@use '../../utils/mixins';

.movies-list {
  @include mixins.page-grid;
  gap: 16px;

  &__movie {
    display: flex;
    justify-content: center;
    grid-column: span 4;

    @include mixins.on-tablet {
      grid-column: span 3;
    }

    @include mixins.on-desktop {
      grid-column: span 6;
    }
  }
}