@mixin on-tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin on-mobile {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin page-grid {
  display: grid;

  --columns: 4;

  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 24;

    column-width: 32px;
  }
}